$color-white: #fff;
$color-black: #000;
$colorBtn: green;
$validation: #a20808;
$borderColor: #a8a8a8;
$colorTags: gray;
$borderRadius: 4px;

// fonts
$font-global: Ubuntu, sans-serif;
$font-global-medium: Ubuntu-medium, sans-serif;
$font-global-bold: Ubuntu-bold, sans-serif;

// font-size
$font-size-base: 14px;
$font-size-validation: 11px;


